@model IEnumerable<ManejoPresupuestos.Models.InformacionPersonal>

<h2>Información Personal</h2>

<p>
    <a asp-action="Crear" class="btn btn-primary">Crear Nuevo</a>
</p>

<form asp-action="Index" method="get" class="form-inline">
    <div class="form-group">
        <label style="margin:5px" for="searchCedula">Buscar por Cédula:</label>
        <input type="text" name="searchCedula" class="form-control" value="@ViewData["CurrentFilter"]" />
        <button style="margin: 5px" type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Cedula</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.PrimerApellido</td>
                <td>@item.SegundoApellido</td>
                <td>@item.Cedula</td>
                <td>@item.Correo</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Borrar" asp-route-id="@item.Id" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

